.key-logger-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* border: rgb(223, 26, 26) 2px solid; */
  margin: 2rem;
  flex-wrap: nowrap;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.key-logger-heading {
  margin: 1rem;
  animation: infinite ease-in heading-blinking 2s 1ms;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  padding: 0.3rem;
}
.key-logger-heading:hover {
  font-size: xx-large;
}

@keyframes heading-blinking {
  0% {
    color: rgb(39, 37, 37);
  }
  50% {
    color: rgb(241, 235, 235);
  }
  100% {
    color: rgb(24, 1, 1);
  }
}

.key-logger-input {
  height: 2.5rem;
  width: 60%;
  border-radius: 1rem;
  color: darkslateblue;
  padding-left: 10px;
  font-size: 1.3rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
.key-logger-input::placeholder {
  color: rgb(8, 130, 42); /* your desired placeholder color */
  font-size: 1.3rem;
}

.key-logger-result {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  padding: 0.3rem;
  height: 2.5rem;
}
